.head {
    font-size: 25px;
    font-weight: 600;
}

.avatar-btn {

    width: 50%;
    margin: 6% 25%;
    height: auto;
    color: #fff;
}

.avatar-icon {
    font-size: 60px;

}

.avatar-text {
    width: 100%;
}

.doc-name{
    font-size: 90%;
    width: 100%;
    padding: 0px;
    margin: 0px;
    text-align: center;
}