.title {
    text-align: center;
    font-size: 32px;
    font-weight: 900;
    line-height: 20px;
    width: 80%;
    margin-right: 10%;
}

.subtitle {
    font-size: 10px;
    font-weight: 400;
    text-align: center;
    color: #f2e122;
}

.avatar {
    width: 40px;
    height: 40px;
    margin: 1%;
}