.comment-card {
    background-color:#fff;
    --ion-background-color:#fff;

}

.comment-wrapper {
    background-color: #dfe9f3;
    width: 100%;
    padding: 1% 3% 0 0;
}

.clickable {
    text-decoration: underline;
    cursor: pointer;
    font-size: 18px;
}

.comments {
    color: #58595a;
    font-weight: 600;

}

.likes {
    font-size: 16px;
}

.like-icon {
    font-size: 25px;
}