// http://ionicframework.com/docs/theming/
@import '~@ionic/angular/css/core.css';
@import '~@ionic/angular/css/normalize.css';
@import '~@ionic/angular/css/structure.css';
@import '~@ionic/angular/css/typography.css';
@import '~@ionic/angular/css/display.css';
@import '~@ionic/angular/css/padding.css';
@import '~@ionic/angular/css/float-elements.css';
@import '~@ionic/angular/css/text-alignment.css';
@import '~@ionic/angular/css/text-transformation.css';
@import '~@ionic/angular/css/flex-utils.css';

@import url('https://fonts.googleapis.com/css?family=Heebo:400,500,800,900&display=swap&subset=hebrew');


.body {
    --background: #398dcb;
    color: #fff;
    font-family: 'Heebo', sans-serif !important;
}

.app-menu {
    --width: 100%;
    --max-width: 100%;
    color: #fff;
    --background: #398dcb;
}

.active-logout {
    border-right: 8px solid var(--ion-color-secondary);
    cursor: pointer;
}